.custom-footer {
  background-color: #222; /* Dark background color for footer */
  color: #fff; /* White text */
}

.custom-footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-footer .footer-social i {
  font-size: 1.5rem; /* Adjust icon size */
  color: #fff; /* Set icon color to white */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-footer .footer-social a:hover i {
  color: #007bff; /* Change icon color on hover */
}

.social-link {
  text-decoration: none; /* Remove underline from links */
}
